# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\caerc\OneDrive\Escritorio\Universidad\5 SEMESTRE\1. DESARROLLO DE SOFTWARE\5. GUIA 4\tiendagatitus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
